*~
build/
lib/
bin/
srv_gen/
msg_gen/
.project
.pydevproject
.cproject
.DS_Store
*.pyc
*.dox
*.o
_*
.settings
uu-controllers/dynamic_window/cmake_install.cmake
*.pos
uu-controllers/schunk_gui/history
uu-controllers/schunk_gui/gui2_altern.glade
uu-controllers/schunk_gui/baks/
*.lsa
ROS_NOBUILD
ignore/
*.stack
