<robot xmlns:xacro="http://ros.org/wiki/xacro">

<material name="black">
    <color rgba="0 0 0 1"/>
</material>

<material name="gray">
    <color rgba="0.15 0.15 0.15 1"/>
</material>

<!-- Links -->
<xacro:macro name="big_cube" params="name">
<link name="${name}" >
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
	    <box size="0.09 0.09 0.09" />
	</geometry>
	<material name="gray"/>
    </visual>
    
    <collision>
	<geometry>
	    <box size="0.09 0.09 0.09" />
	</geometry>
    </collision>
</link>
</xacro:macro>

<xacro:macro name="small_cube" params="name">
<link name="${name}" >
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
	    <box size="0.07 0.07 0.07 " />
	</geometry>
	<material name="gray"/>
    </visual>
    
    <collision>
	<geometry>
	    <box size="0.07 0.07 0.07 " />
	</geometry>
    </collision>
</link>
</xacro:macro>

<xacro:macro name="PAM" params="name *shape">
<link name="${name}">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <geometry>
      <xacro:insert_block name="shape" />
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <geometry>
      <xacro:insert_block name="shape" />
    </geometry>
  </collision>
</link>
</xacro:macro>

</robot>